{%extends "base.html"%}

{%block content%}

<h1 class="center">ABOUT US</h1>
<h1>
  We are Group Three; sharing our stories from across the world over the Summer of 2022 as our Computing Integrated
  Project 1.
</h1>
<button type="" class="button1" id="but">
    <a href="{% url 'posts' %}">Explore Posts</a> <span class="arrow2">&#62</span>
</button>
<button type="" class="button1" id="but">
    <a href="{% url 'authors' %}">Explore Authors</a><span class="arrow2">&#62</span>
</button>

{%endblock%}