<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/CSS/aboutUs.css' %}">
    <title>TATU</title>
</head>
<body>
    <header>
        <!---An icon, nav bar and some text: TODO: Integrate with all other pages-->

        <!--The icon-->
        <div id="group1">
            <img id="icon" src="{% static 'home/images/Icon.png' %}" alt="our group's icon">

            <ul class="list-group list-group-horizontal">
                <li id="active" class="first"><a>about</a></li>
                <li><a href="posts.html">posts</a></li>
                <li><a href="team.html">team</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>



        <div class="text-center">
            <h1>ABOUT US</h1>

                <p>
                    We are group three; sharing our stories from across the world over the Summer of 2022 as our integrated project.
                </p>

</div>
        <!---Buttons for explore posts and explore pictures-->
    </header>
    <button type="" class="" id="posts">Explore Posts <span class="arrow2">&#62</span></button>

    <button type="" class="" id="pics">Explore Pictures <span class="arrow2">&#62</span> </button>
</body>
</html>