{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">ALU Experience</h2>
    <hr />
    <p class="text text-large">
      This page gives details about how we heard about ALU, why we wanted to
      study at ALU, the application process and being accepted, moving to ALU to
      begin studying, meeting other students, classes we have been taking, jobs
      we have worked, advice to prospective students, and a summary of our time
      at ALU so far.
    </p>
    <br />
    <img class="image center max-width-400 add-top-margin-small" src="{% static 'images/alu.png' %}" />
    <br />
  </div>
</div>
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Christian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I heard about ALU from Twitter.<br />
      <strong>Why I Wanted To Study At ALU:</strong> I wanted to move away from my comfort zone and was inspired by the
      practical, non-conventional approach towards learning.<br />
      <strong>Application Process And Being Accepted:</strong> The application process started with a cognitive test
      which initially piqued my interest as I had a thing for tests like that. I passed and moved to the essay writing
      stage of the application. The prompts were mostly centered around Africa and my future plans for its development.
      Being accepted into the college was a happy moment for me as I barely met the application deadline.<br />
      <strong>Moving To ALU To Begin Studying:</strong> At the time I got my admission letter, I was already counting
      down the days until resumption. But unfortunately, due to pandemic restrictions, thank you Covid-19, resumption
      was postponed for 4 more months. I was shattered to be honest, as I absolutely had nothing else to do at home,
      except watching anime of course. The time to travel to Mauritius finally came and I traveled alone for the first
      time. Quarantine at Ravenala was sh- (redacted) especially with the sad and soulless meal options but I did enjoy
      the 2 weeks of doing sweet nothing except sleeping all day.<br />
      <strong>Meeting Other Students:</strong> It was sort of surreal meeting people from different African countries at
      the same time.<br />
      <strong>Classes I Have Been Taking:</strong> I took the Leadership Core modules in my first year. The Data and
      Decisions module particularly influenced my decision to venture into Data Science. I only started taking Computing
      classes in my second year and they have been calm so far (I still don’t like you, Web Platform Development).<br />
      <strong>Jobs I Have Worked:</strong> I worked as the college’s Medical Admin for 9 months and also worked as a
      Researcher for Public Policy Exchange, United Kingdom. I currently work as the Medical and Financial Aid Admin for
      the required summer internship.<br />
      <strong>Advice To Prospective Students:</strong> Don’t expect a traditional university experience at ALU, you’d be
      in for the biggest shock of your life. Try not to stay completely in the campus bubble, explore Mauritius,
      interact with the locals, and own your journey!<br />
      <strong>Summary Of My Time At ALU So Far :</strong> It’s been really good so far, thanks to Meggie.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Emmanuel</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I heard about ALU from ALA.<br />
      <strong>Why I Wanted To Study At ALU:</strong> I was mostly moved by the freedom in the learning environment and
      the entrepreneurship approach in education.<br />
      <strong>Application Process And Being Accepted:</strong> ALU’s application essays were much aligned with the kind
      of conversations I got to engage in at the African Leadership Academy, from the Tuesday lunch with my professors
      and fellow peers to seminal readings. Conversations around the past, present and future of our continent,
      questions on what we could do differently to make a change, to get some of our communities out of the poverty
      cycle they have been put into from the colonial times, and kept in with the neo-colonialism or
      slave/non-independent mindset. I got to extend the discussion in writing, with my personal experience and goals
      for the future.<br />
      <strong>Moving To ALU To Begin Studying:</strong> Moving to Mauritius wasn’t an easy journey for me. For some
      degrading yet very much expected political reasons, my country suspended issuing passports for about half a year.
      Mauritius required a passport valid for at least the duration of the full duration of the undergraduate program, I
      was required to renew my passport. However, I had to wait until January when other students were already flying to
      the island to get my passport renewed and start my visa application. Even then, after getting the visa, I had to
      wait for 2 additional weeks after being tested positive for COVID. Maybe it was all worth it, maybe, someday in
      the future, I’ll be able to somehow connect the dots and give meaning to this long process. For now, I am happy I
      got to fly to the island however late, and join ALU’s vibrant community with the spirit of doing hard things.
      <br />
      <strong>Meeting Other Students:</strong> I met my colleagues for the first time online, over a 2 weeks mandated
      quarantine for COVID-19. Though online, it was a great start of a long and exciting journey!<br />
      <strong>Classes I Have Been Taking:</strong> Like every other ALU student, I got to take the leadership core which
      included entrepreneurship, data and writing modules. Now, I am going to my 3rd year in computing.<br />
      <strong>Jobs I Have Worked:</strong> I have spent the last 12 months working as a Data Analyst at mdoc. I started
      the first 4 months working as an intern, then switch to a part time consultant.<br />
      <strong>Advice To Prospective Students:</strong> I’ll go with the cliché yet essential advice, own your journey!
      You can make the 4 years experience anything you wish it to be.<br />
      <strong>Summary Of My Time At ALU So Far :</strong> I’d say my time at ALU so far has been great, adventurous and
      sometimes challenging. I am eager to experience what’s waiting for me in the future!<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Sumeiya</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I was going through a job website to find one that I could work remotely
      and there was an add pop up about female leaders scholarship.<br />
      <strong>Why I Wanted To Study At ALU:</strong> To be honest the leadership part won my heart, I just couldn’t stop
      imagining myself providing help and bringing peace to my community. ALU marketing was very interesting and catchy,
      I could not stop seeing myself as a scholar.<br />
      <strong>Application Process And Being Accepted:</strong> Because of getting to know it from an ad I did not
      believe it that much, so I started the application then left it for a period of about a month. It was about one
      week to the deadline that I was called by a representative and reminded to complete my application. After
      submitting my application I landed in the second batch that made me so anxious and also my grades were not so good
      compared to others who applied so I feared not getting to be chosen. When I received the scholarship email I was
      shaking out of joy and excitement, it was the greatest news I had not received in a very long time.<br />
      <strong>Moving To ALU To Begin Studying:</strong> First time going out of the country was very fascinating, I was
      more than excited to get to the airport and fly for the first time. Quite interesting right ALU has given me my
      firsts too. It was hectic since I didn’t know how to manouver but being with my friends made it even more fun, a
      bunch of teenagers confused together and looking for solutions.<br />
      <strong>Meeting Other Students:</strong> Once shortlisted we were added to a WhatsApp group that brought us all
      together, we introduced ourselves with both our names and the country we were coming from. I got to know people
      from my city and made a close friendship with them and they are now my best friends and close family on the
      island.<br />
      <strong>Classes I Have Been Taking:</strong> After landing and going through the quarantine period, it was finally
      time for me to see the famous African Leadership University. I was attached to my phone so that I could capture my
      first memory quite well.After the onboarding process and getting settled, it was time to get to what I signed up
      for, leadership core. Intense entrepreneurial leadership, Data decisions and company consultation through
      projects, do not forget the communication skills.<br />
      <strong>Jobs I Have Worked:</strong> Before I decided to go back to school, I was an electrical engineer at an oil
      manufacturing company. I have also worked closely with the Immigration Associate at the university.<br />
      <strong>Advice To Prospective Students:</strong> ALU advertises nothing but the truth, when they say they are
      doing hard things they probably are and its no joke. If you apply to ALU then you better be ready to fight and
      concur. There is no place for the weak, the lazy and the quitters.<br />
      <strong>Summary Of My Time At ALU So Far :</strong> Two words: exciting and challenging.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Benson</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I got to learn about ALU from the Equity Leadership Program. At the time I
      was doing my college applications and I was advised to apply to a school on the continent as well.<br />
      <strong>Why I Wanted To Study At ALU:</strong> I was very much interested in entrepreneurship and this is why the
      school caught my eye. I also like the fact that we graduate with at least a year’s worth of work experience<br />
      <strong>Application Process And Being Accepted:</strong> The essay prompts for the application placed us in
      positions of power and challenged us to redesign the future of Africa. This, in itself, made us think of solutions
      to the problems plaguing the continent. They kept us in the loop, in terms of emails and other comms, all through
      the application process.<br />
      <strong>Moving To ALU To Begin Studying:</strong> We moved to Mauritius in January of 2021 only to be isolated at
      the Ravenala Attitude hotel for over 2 weeks. Within this period, we were tested for covid-19 thrice. About a
      month after arriving, we had our Karibu ceremony where we lit candles, took an oath and walked through the
      man-made (as in made of man) tunnel as is the tradition.<br />
      <strong>Meeting Other Students:</strong> It was nice interacting with students from all over Africa from across
      all age groups. The diversity was just beautiful to behold.<br />
      <strong>Classes I Have Been Taking:</strong> After a 2-week induction, we were bombarded with overwhelming work in
      the infamous leadership core that included Entrepreneurial Leadership, Data and Decisions, Communicating for
      Impact and Projects. We, however, negotiated with faculty for the weekly deliverables were difficult to meet, and
      had the workload reduced. This was made possible because they increased the weight of the now fortnightly
      deliverables to our overall scores.<br />
      <strong>Jobs I Have Worked:</strong> The curriculum enabled us to consult for different companies seeking to
      expand to new markets or launch new product lines.<br />
      <strong>Advice To Prospective Students:</strong> One should rethink applying to ALU if they do not see themselves
      as leaders or are not interested in entrepreneurship as these are the zeitgeist at the institution. The theme
      being ‘Do hard things’, lazy people are also discouraged from putting their ways of living at risk by
      applying.<br />
      <strong>Summary Of My Time At ALU So Far :</strong> I liked the fact that ALU is lively with frequent parties,
      prize-givings and competitions that range from sports (ALU-alive and Sun of a beach) to entrepreneurial ones
      (ALU-innovate).<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Ian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I saw an Ad about applying on Instagram.<br />
      <strong>Why I Wanted To Study At ALU:</strong> Their novel curriculum focused on developing practical skills was
      very interesting.<br />
      <strong>Application Process And Being Accepted:</strong> I had just read my rejection letter from Stanford that
      morning, the fifth rejection that cycle, and the last of my US university options. I didn’t even leave my desk. I
      completed the entire application in about an hour, essays and all, and wrote a letter to the Dean of Admissions to
      be admitted within the weekend [it was a Friday] so that I could apply for Financial Aid by Monday [the deadline
      was that Monday].
      <br />
      <strong>Moving To ALU To Begin Studying:</strong> It was exciting to make such a big move to somewhere so far from
      home.
      <br />
      <strong>Meeting Other Students:</strong> The community is great.<br />
      <strong>Classes I Have Been Taking:</strong> Computing, Leadership Core.<br />
      <strong>Jobs I Have Worked:</strong> Vectorgram.<br />
      <strong>Advice To Prospective Students:</strong> Do your research.<br />
      <strong>Summary Of My Time At ALU So Far :</strong> Good.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Tinotenda</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>How I Heard About ALU:</strong> I heard about ALU through Education USA.<br />
      <strong>Why I Wanted To Study At ALU:</strong> I wanted to study at ALU because of how they approach learning at
      the institution. What attracted me most to the school is how they put emphasis on missions and not majors because
      it gives me the courage and confidence to pursue my dreams knowing that I have people supporting me.<br />
      <strong>Application Process And Being Accepted:</strong> The application process was not that difficult and
      because I had already been applying to different schools I had all the documents they wanted submitted. It took me
      less than a month to be accepted and get full financial aid and that was something I wasn’t expecting but was
      really grateful for.<br />
      <strong>Moving To ALU To Begin Studying:</strong> Moving to ALU was probably one of the most difficult phases I’ve
      gone through in my life. Leaving my mom and friends behind to go and pursue an education in a country I knew
      nothing about was scary and really difficult but I’m glad because the move made me realise a whole new side about
      life I knew nothing about.
      <br />
      <strong>Meeting Other Students:</strong> Meeting other students was really exciting because I had an opportunity
      to learn about other cultures.<br />
      <strong>Classes I Have Been Taking:</strong> Leadership Core (Communication for Impact, Data and Decisions,
      Projects and Entrepreneurial Leadership) and Computing Classes.<br />
      <strong>Jobs I Have Worked:</strong> I have worked as an intern for the Student Life team.<br />
      <strong>Advice To Prospective Students:</strong> When you come to ALU, come with an open mind and take advantage
      of every opportunity available.<br />
      <strong>Summary Of My Time At ALU So Far :</strong> Mind blowing. I have learnt a lot more about myself in the
      past 18 months than I did before. I met a lot of wonderful people who are driven by passion and are making a real
      impact in the communities they come from.<br />
    </p>
  </div>
</div>
<br />

{%endblock%}