{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/christian.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Christian Adeoye Adebambo<br />
      <strong>Home Location:</strong> Nigeria<br />
      <strong>Computing Interests:</strong> Data Science and Machine Learning<br />
      <strong>Website Individual Contributions:</strong> Home, Posts, Contact pages<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/emmanuel.png' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Emmanuel Bauma Murairi<br />
      <strong>Home Location:</strong> DRC<br />
      <strong>Computing Interests:</strong> Data Engineering, Data Science<br />
      <strong>Website Individual Contributions:</strong> Django Integration, Project Planning<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/sumeiya.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Sumeiya Juma<br />
      <strong>Home Location:</strong> Kenya<br />
      <strong>Computing Interests:</strong> Android Development and Cybersecurity<br />
      <strong>Website Individual Contributions:</strong> Posts<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/benson.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Benson Mugure<br />
      <strong>Home Location:</strong> Kenya<br />
      <strong>Computing Interests:</strong> AI, Blockchain & Web3, Virtual and Augmented Reality, Quantum
      Computing<br />
      <strong>Website Individual Contributions:</strong> Home and About pages<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/ian.png' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Ian Omung'a<br />
      <strong>Home Location:</strong> Nairobi, Kenya<br />
      <strong>Computing Interests:</strong> Neural Architecture Search <br />
      <strong>Website Individual Contributions:</strong> Design, Authors Page <br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="images" src="{% static 'images/tinotenda.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Tinotenda Tsomondo<br />
      <strong>Home Location:</strong> Harare, Zimbabwe<br />
      <strong>Computing Interests:</strong> Data Science<br />
      <strong>Website Individual Contributions:</strong> Contact pages, Posts<br />
    </p>
  </div>
</div>

{%endblock%}