{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Christian Adeoye Adebambo<br />
      <strong>Home Location:</strong> Nigeria<br />
      <strong>Computing Interests:</strong> Data Science and Machine Learning<br />
      <strong>Website Individual Contributions:</strong> Home, Posts<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Emmanuel Bauma Murairi<br />
      <strong>Home Location:</strong> Congo<br />
      <strong>Computing Interests:</strong> Phasellus viverra nulla<br />
      <strong>Website Individual Contributions:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Sumeiya Juma<br />
      <strong>Home Location:</strong> Kenya<br />
      <strong>Computing Interests:</strong> Phasellus viverra nulla<br />
      <strong>Website Individual Contributions:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Benson Mugure<br />
      <strong>Home Location:</strong> Kenya<br />
      <strong>Computing Interests:</strong> Phasellus viverra nulla<br />
      <strong>Website Individual Contributions:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Ian Omunga<br />
      <strong>Home Location:</strong> Kenya<br />
      <strong>Computing Interests:</strong> Phasellus viverra nulla<br />
      <strong>Website Individual Contributions:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <img class="image" src="{% static 'images/test.jpg' %}" />
  </div>
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>Name:</strong> Tinotenda Tsomondo<br />
      <strong>Home Location:</strong> Zimbabwe<br />
      <strong>Computing Interests:</strong> Phasellus viverra nulla<br />
      <strong>Website Individual Contributions:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>

{%endblock%}
