{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Our Background</h2>
    <hr />
    <p class="text text-large">
      This page gives personal details about each of us, our countries,
      hometowns/cities, and where we studied before coming to ALU.
    </p>
    <br />
    <img
      class="image center max-width-400 add-top-margin-small"
      src="{% static 'images/background.png' %}"
    />
    <br />
  </div>
</div>
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Christian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Emmanuel</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Sumeiya</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Benson</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Ian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Tinotenda</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> Phasellus viverra nulla<br />
      <strong>Country:</strong> Phasellus viverra nulla<br />
      <strong>Hometown/City:</strong> Phasellus viverra nulla<br />
      <strong>Previous Educational Institution:</strong> Phasellus viverra
      nulla<br />
    </p>
  </div>
</div>
<br />

{%endblock%}
