{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Our Background</h2>
    <hr />
    <p class="text text-large">
      This page gives personal details about each of us, our countries,
      hometowns/cities, and where we studied before coming to ALU.
    </p>
    <br />
    <img class="image center max-width-400 add-top-margin-small" src="{% static 'images/background.png' %}" />
    <br />
  </div>
</div>
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Christian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am a Computing major at the Glasgow Caledonian University with a keen interest in Data
      Analytics, Data Science, Machine Learning, Deep Learning, and AI. I am curious, intelligent, organized, and
      self-motivated. I am a chess enthusiast and an avid listener of music.
      <br />
      <strong>Country:</strong> Nigeria.<br />
      <strong>Hometown/City:</strong> Ibadan.<br />
      <strong>Previous Educational Institution:</strong> Oxbridge Tutorial College, Lagos.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Emmanuel</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am passionate about technology and entrepreneurship. I use my experience in Software
      Development and Data Analysis to design products and services. I am currently working as a Data Analyst at mDoc
      while pursuing my Bachelor’s degree (Honors) in Computing at the African Leadership College.<br />
      <strong>Country:</strong> Democratic Republic of Congo.<br />
      <strong>Hometown/City:</strong> Kinshasa.<br />
      <strong>Previous Educational Institution:</strong> African Leadership Academy.<br />
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Sumeiya</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am a technical enthusiast who is deeply invested in learning Software Development. I
      have a rising interest or rather an unsettled path in Cybersecurity, Networking, Android Development and Machine
      Learning. Currently a GADs scholar.<br />
      <strong>Country:</strong> Kenya.<br />
      <strong>Hometown/City:</strong> Mombasa.<br />
      <strong>Previous Educational Institution:</strong> Kenya Coast National Polytechnic, Mombasa.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Benson</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am a dope gen Z member who is a lifelong learner, passionate about Entrepreneurship,
      Film
      Making and DARQ.<br />
      <strong>Country:</strong> Kenya.<br />
      <strong>Hometown/City:</strong> Nairobi.<br />
      <strong>Previous Educational Institution:</strong> Njumbi High School.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Ian</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am a Machine Learning Engineer with a passion for working on problems that are most
      effectively solved by products, research and algorithms based mainly on Machine Intelligence.
      I’m the Co-Founder and CEO of Vectorgram, a HealthTech Infrastructure startup based in Nairobi, Kenya; where I
      build Deep Neural Networks for Breast Cancer Detection.<br />
      <strong>Country:</strong> Kenya.<br />
      <strong>Hometown/City:</strong> Nairobi.<br />
      <strong>Previous Educational Institution:</strong> Alliance High School.<br />
    </p>
  </div>
</div>
<br />
<div class="flex-row-space-between">
  <div class="flex-item flex-column">
    <p class="text badge-text">Tinotenda</p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text text-large">
      <strong>About:</strong> I am a young girl passionate about Storytelling and Data Science. I am currently working
      as a Comms Intern at Inspired Zimbabwe.<br />
      <strong>Country:</strong> Zimbabwe.<br />
      <strong>Hometown/City:</strong> Chitungwiza, Harare.<br />
      <strong>Previous Educational Institution:</strong> Zengeza 1 High school.<br />
    </p>
  </div>
</div>
<br />

{%endblock%}