{%extends "base.html"%}

{%block content%} {% load static %}

<div class="flex-row">
    <div class="flex-item flex-column">
        <h2 class="add-top-margin">Future Ideas and Career</h2>
        <hr>
        <p class="text text-large">
            This page gives details about our ideas for the future and career.
        </p>
        <br>
        <img class="image center max-width-400 add-top-margin-small" src="{% static 'images/career.png' %}">
        <br>
    </div>
</div>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Christian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> I’m still quite undecided about my plans post-graduation. I am torn
            between getting employed immediately or starting post-grad studies. I guess I might just roll a dice to find
            out.<br>
            <strong>Prospective Career:</strong> I want to venture into the Data Science and Machine Learning career
            path. Or, be a professional anime watcher. You never know.<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Emmanuel</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> I am still thinking about what path I should consider after my
            undergraduate, whether to go for a Masters program or spend some more time in the job market before focusing
            on my entrepreneurial projects.<br>
            <strong>Prospective Career:</strong> I am considering building my career in the realm of Data, maybe Data
            Engineering or Data Science, and of course, ultimately as an entrepreneur.<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Sumeiya</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> I would love to do post grad but that would depend if my current
            ventures will give me time to. I will love to devote 100% of my time in the venture as I work.<br>
            <strong>Prospective Career:</strong> I am attracted to Machine Learning and Android Development but I
            certainly can’t make a decision right now; my learning journey is certainly continuous.<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Benson</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> I do not plan to engage in post grad. I want to either go into
            employment or, preferably, start my own business.<br>
            <strong>Prospective Career:</strong> I am interested in consulting, Fintech, startups, Venture Capital and
            Private Equity. I could go into writing, film making or entrepreneurship. I wanted to be a doctor then SE
            and now an entrepreneur. I plan to give back my time, resources and skills in order to help the less
            fortunate and make the world a better place.<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Ian</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> To make something people want. I’m going to graduate school too.
            <br>
            <strong>Prospective Career:</strong> Scientist.<br>
        </p>
    </div>
</div>
<br>
<div class="flex-row-space-between">
    <div class="flex-item flex-column">
        <p class="text badge-text">Tinotenda</p>
    </div>
</div>
<div class="flex-row">
    <div class="flex-item flex-column">
        <p class="text text-large">
            <strong>Ideas For The Future:</strong> Go to grad school.
            <br>
            <strong>Prospective Career:</strong> Data Scientist
            <br>
        </p>
    </div>
</div>
<br>
</div>

{%endblock%}