<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'home/CSS/home.css' %}">
    <title>TATU</title>
</head>
<body>
    <header>
        <!---An icon, nav bar and some text: TODO: Integrate with all other pages-->

        <!--The icon-->
        <div id="group1">
            <img id="icon" src="{% static 'home/images/Icon.png' %}" alt="our group's icon">

            <ul class="list-group list-group-horizontal">
                <li class="first"><a href="aboutUs.html">about</a></li>
                <li><a href="posts.html">posts</a></li>
                <li><a href="team.html">team</a></li>
                <li><a href="contact.html">contact</a></li>
            </ul>
        </div>



        <div class="text-center">
            <h1 id="group2">
                <span id="three">three</span>
                <span id="firstDot">.</span>
                <span id="tatu">tatu</span>
                <span id="secondDot">.</span>
                <span id="trois">trois</span></h1>

            <h1 id="title">INTEGRATED PROJECT</h1>

            <ul id="links">
                <li id="posts"><a>Posts</a></li>
                <li id="reports"><a>Reports</a></li>
                <li id="pics"><a>pictures</a></li>
            </ul>

</div>
        <!---Buttons for explore posts and explore pictures-->
    </header>



</body>
</html>