{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Mauritius Experience</h2>
    <hr />
    <p class="text text-large">
      This page highlights our various experiences in Mauritius in the form of
      pictures.
    </p>
    <br />
    <img
      class="image center max-width-400 add-top-margin-small"
      src="{% static 'images/mu.png' %}"
    />
    <br />
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Omian Events</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/omian1.jpg' %}" />
  </a>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/omian2.jpg' %}" />
  </a>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/omian3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Beach Experience</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/beach1.JPG' %}" />
  </a>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/beach2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img id="beach" src="{% static 'images/beach3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Hotels & Clubs</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/hotel1.jpg' %}" />
  </a>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/hotel2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/hotel3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Parks & Aquariums</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/park1.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/park2.jpg' %}" />
  </a>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/park3.jpg' %}" />
  </a>

{%endblock%}
