{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Mauritius Experience</h2>
    <hr />
    <p class="text text-large">
      This page highlights our various experiences in Mauritius in the form of
      pictures.
    </p>
    <br />
    <img
      class="image center max-width-400 add-top-margin-small"
      src="{% static 'images/mu.png' %}"
    />
    <br />
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Omian Events</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Beach Experience</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Hotels & Clubs</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Parks & Aquariums</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>

{%endblock%}
