{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Pictures Zone</h2>
    <hr />
    <p class="text text-large">
      This page is an additional feature that contains a gallery of other
      pictures related to Group Three.
    </p>
  </div>
</div>
<br />
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone1.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone13.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone2.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone14.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone3.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone15.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone4.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone17.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone5.jpg' %}" />
</a>
<a href="javascript:void(0)"><img id="beach" src="{% static 'images/zone6.jpg' %}" />
</a>

{%endblock%}