{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column full-width">
    <h2 class="add-top-margin">List of Posts</h2>
    <hr />
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'background' %}">
      <img class="image max-width-400" src="{% static 'images/background.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'background' %}">Our Background</a><br />
      Here we introduce ourselves and explain some facts obout us such as our countries of origin, our home cities or
      towns, and our previous
      academic institutions.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'alu' %}">
      <img class="image max-width-400" src="{% static 'images/alu.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'alu' %}">ALU Experience</a><br />
      Here we detail how we each heard of ALU, why we aspired to study here, our individual application process and the
      acceptance, the trip to Mauritius, how we met our classmates and other students, the classes we have taken so far,
      the jobs we have worked, our advice to prospective students, and a brief summary of our time at ALU.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'mauritius' %}">
      <img class="image max-width-400" src="{% static 'images/mu.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'mauritius' %}">Mauritius Experience</a><br />
      Here we show you our Mauritius experience in the form of pictures.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'social' %}">
      <img class="image max-width-400" src="{% static 'images/social.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'social' %}">Social Life</a><br />
      Here we engage you on a series of the fun and social things that we have done on the island.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'career' %}">
      <img class="image max-width-400" src="{% static 'images/career.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'career' %}">Future Ideas and Career</a><br />
      Here we give you an insight into our individual ideas for the future and prospective careers.
    </p>
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-item-stretch flex-column">
    <a href="{% url 'pictures' %}">
      <img class="image max-width-400" src="{% static 'images/zone.png' %}" />
    </a>
  </div>
  <div class="flex-item flex-item-stretch-4 flex-column">
    <p class="text text-large">
      <a class="text badge-text" href="{% url 'pictures' %}">Pictures Zone</a><br />
      A dump of random photos that resonates with us and alludes to our uniqueness.
    </p>
  </div>
</div>

{%endblock%}