{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Social Life</h2>
    <hr />
    <p class="text text-large">
      This page highlights our social life in the form of pictures.
    </p>
    <br />
    <img
      class="image center max-width-400 add-top-margin-small"
      src="{% static 'images/social.png' %}"
    />
    <br />
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Sun Of A Beach</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)"
    ><img id="beach" src="{% static 'images/sun1.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/sun2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/sun3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Art Expression</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/art1.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/art2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/art3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Kwibuka</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/kwibuka1.JPG' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/kwibuka2.JPG' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/kwibuka3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Graduation</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/grad1.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/grad2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/grad3.jpg' %}" />
  </a>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Mosaic</p>
    <br />
  </div>
</div>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/mosaic1.JPG' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/mosaic2.jpg' %}" />
  </a>
  <a href="javascript:void(0)" 
    ><img id="beach" src="{% static 'images/mosaic3.jpg' %}" />
  </a>

{%endblock%}