{%extends "base.html"%} {%block content%} {% load static %}

<div class="flex-row">
  <div class="flex-item flex-column">
    <h2 class="add-top-margin">Social Life</h2>
    <hr />
    <p class="text text-large">
      This page highlights our social life in the form of pictures.
    </p>
    <br />
    <img
      class="image center max-width-400 add-top-margin-small"
      src="{% static 'images/social.png' %}"
    />
    <br />
  </div>
</div>
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Sun Of A Beach</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Art Expression</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Kwibuka</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Graduation</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>
<br />
<div class="flex-row">
  <div class="flex-item flex-column">
    <p class="text badge-text">Mosaic</p>
    <br />
  </div>
</div>
<div class="gallery">
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
  <a href="javascript:void(0)" class="flex-column"
    ><img src="{% static 'images/test.jpg' %}" />
  </a>
</div>

{%endblock%}
